body {
  font-family: "Zilla Slab";
  font-size: 14pt;
  line-height: 1.4em;
  color: #444;
}

main {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

h1,h2,h3 {
  font-family: "Avenir Next", "Avenir", sans-serif;
  margin-top: 4em;
  margin-bottom: 1.5em;
  color: #000;
}

p.attention {
  background-color: #cff;
  border: 1px solid #8dd;
  padding: 2em;
}

p.attention::before {
  font-family: "Avenir Next", "Avenir", sans-serif;
  content: "attention";
  display: block;
  color: #6bb;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.assignment-block {
  font-family: "Avenir Next", "Avenir", sans-serif;
  font-size: 80%;
  line-height: 1.3em;
  background-color: #f1f1f1;
  border: 1px solid #d8d8d8;
  padding: 0.5em;
  display: table;  /* trick to make its width fit its content */
}