@import '../fonts/ZillaSlab/ZillaSlab.css';
@import '../fonts/SourceCodePro/SourceCodePro.css';

body {
  font-family: "Zilla Slab";
  font-size: 14px;
  line-height: 1.4em;
  color: #444;
  margin: 0;
  padding: 0;
  display: grid;
  grid-gap: 0px;
  grid-template-columns: 1fr fit-content(300px);
  grid-template-areas:
     "header  header"
     "content sidebar"
     "footer  footer";
}

main {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  grid-area: content;
  padding: 3em;
}

#sidebar {
  background-color: #f8f8f8;
  grid-area: sidebar;
  padding: 1.5em;
  font-family: "Avenir Next", "Avenir", sans-serif;
  font-size: 9pt;
}
#sidebar h1 {
  margin-top: 200px;
  font-size: 12pt;
}
#sidebar h2 {
  margin-top: 1em;
  font-size: 14px;
}
#sidebar h3 {
  margin-top: 0.5em;
  margin-bottom: 0em;
  font-size: 14px;
  font-weight: 400;
}
#sidebar .lesson-content {
  padding-left: 1.5em;
  margin-top: 0;
  margin-bottom: 0;
}
#sidebar .lesson-content li::marker {
  color: #888;
}

a {
  color: #e50056;
  text-decoration: none;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Avenir Next", "Avenir", sans-serif;
  margin-top: 4em;
  margin-bottom: 0.5em;
  color: #000;
}

h1 {
  margin-bottom: 2em;
  font-weight: normal;
  font-size: 4em;
  margin-top: 150px;
  line-height: 1.2em;
}
h1 > .chapter-num {
  font-size: 14px;
  line-height: 1em;
  font-family: 'Avenir Next';
  font-weight: bold;
  color: #e50056;
  letter-spacing: 4px;
  margin-bottom: 10px;
}

h4 {
  color: #666;
  margin-top: 2em;
}

h6 {
  margin: 1em 0 0 0;
  /* position: relative; */
}

.attention, 
.theory,
.instruction,
.hint-content {
  background-color: #ccc;
  /* border: 1px solid #b8b8b8; */
  color: black;
  padding: 3em 1em 2em 2em;
  border-radius: 3px;
  margin: 3em 0 1em 0;
  position: relative;
}

.attention::before, 
.theory::before, 
.instruction::before,
.hint-content::before {
  font-family: "Avenir Next", "Avenir", sans-serif;
  display: inline-block;
  color: white;
  padding: 0.5em 2em;
  position: absolute;
  top: 0;
  left: 0;
  font-weight: bold;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 5px;
  border-top-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.attention::before {
  content: "attention";
  background-color: #e50056;
}

.theory::before {
  content: "more to know";
  background-color: #76c58c;
}

.instruction::before {
  content: "instruction";
  background-color: #61c2ee;
}
.hint-content {
  margin-top: 4pt;
}

.hint-content::before {
  content: "hint";
  color: #666;
  background-color: #fde051;
}

span.inline-note, span.inline-bonus {
  font-family: "Avenir Next", "Avenir", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: #e50056;
  letter-spacing: 2px;
  font-size: smaller;
}

span.inline-note {
  color: #e50056;
}
span.inline-bonus {
  color: #61c2ee;
}

.assignment-block,
.hint-block {
  font-family: "Avenir Next", "Avenir", sans-serif;
  font-size: 80%;
  line-height: 1.3em;
  background-color: #f1f1f1;
  border: 1px solid #dcdcdc;
  padding: 0.5em;
  display: table;  /* trick to make its width fit its content */
  border-radius: 3px;
  margin: 4pt 0;
}

.hint-content .hint-content {
  background-color: #00000010;
  padding-bottom: 0.5em;
  margin-bottom: 0.5em;
}

.hint-block-wrapper,
.hint-content-wrapper {
  transition: max-height 1000ms ease, opacity 1000ms ease;
  overflow-y: hidden;
  box-sizing: border-box;
}

.hint-block > .cancel-button {
  background: none;
  color: #444;
  display: inline;
  padding-left: 0px;
  padding-right: 0px;
}
.hint-block.step0 > .cancel-button {
  display: none;
}

.hint-block > .hint-button {
  color: #444;
  background-color: #fde051;
  border: 1px solid #ecc919;
}


.todo {
  color: white;
  background-color: #0c0;
  font-family: "Comic Sans MS";
  padding: 1em;
  border-radius: 10px;
}
.todo::before {
  color: #080;
  font-family: "Comic Sans MS";
  font-weight: bold;
  display: block;
  content: "TODO:";
  letter-spacing: 5px;
}

button {
  font-family: "Avenir Next", "Avenir", sans-serif;
  background: #e50056;
  font-weight: 500;
  color: white;
  padding: 4px 8px;
  border: none;
  border-radius: 4px;
  margin: 0px 3px;
}

button:hover, button:active {
  background: #c7004c;
}

button[disabled] {
  background: #999 !important;
}

button:hover:active {
  position: relative;
  top: 1px;
  left: 1px;
}

.buttonIcon {
  height: 14px;
  position: relative;
  top: 2px;
  margin: 0px 4px;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@keyframes pausedRotation {
  0% {
    transform: rotate(0deg);
  }
  95% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(90deg);
  }
}

main::after {
  content: "";
  display: block;
  margin: 10em auto 15em auto;
  height: 16px;
  width: 16px;
  background-color: #ccc;
  animation: pausedRotation 10s infinite linear;
  border-radius: 3px;
}




span.note {
  display: inline-block;
  width: 13px;
  height: 13px;
  position: relative;
  background-color: #0c0;
  animation: rotation 3s infinite linear;
  margin-right: 3px;
  top: 2px;
  border-radius: 3px;
}


.tippy-tooltip {
  background-color: #0c0;
  color: white;
  font-family: "Comic Sans MS";
  font-size: 90%;
}

.tippy-tooltip[data-placement^='top'] .tippy-arrow {
  border-top-color: #0c0;
}
.tippy-tooltip[data-placement^='bottom'] .tippy-arrow {
  border-bottom-color: #0c0;
}
.tippy-tooltip[data-placement^='left'] .tippy-arrow {
  border-left-color:  #0c0;
}
.tippy-tooltip[data-placement^='right'] .tippy-arrow {
  border-right-color: #0c0;
}