body {
  font-family: "Zilla Slab";
  font-size: 14px;
  line-height: 1.4em;
  color: #444;
  margin: 0;
  padding: 0;
  display: grid;
  grid-gap: 0px;
  grid-template-columns: 1fr fit-content(300px);
  grid-template-areas:
     "header  header"
     "content sidebar"
     "footer  footer";
}

main {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  grid-area: content;
  padding: 3em;
}

#sidebar {
  background-color: #f8f8f8;
  grid-area: sidebar;
  padding: 1.5em;
  font-family: "Avenir Next", "Avenir", sans-serif;
  font-size: 9pt;
}
#sidebar h1 {
  font-size: 12pt;
}

a {
  color: #f0f;
  text-decoration: none;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Avenir Next", "Avenir", sans-serif;
  margin-top: 4em;
  margin-bottom: 1.5em;
  color: #000;
}

p.attention {
  background-color: #cff;
  border: 1px solid #8dd;
  padding: 2em;
}

p.attention::before {
  font-family: "Avenir Next", "Avenir", sans-serif;
  content: "attention";
  display: block;
  color: #6bb;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.assignment-block {
  font-family: "Avenir Next", "Avenir", sans-serif;
  font-size: 80%;
  line-height: 1.3em;
  background-color: #f1f1f1;
  border: 1px solid #d8d8d8;
  padding: 0.5em;
  display: table;  /* trick to make its width fit its content */
  border-radius: 3px;
  margin: 4pt 0;
}

.todo {
  color: white;
  background-color: #0c0;
  font-family: "Comic Sans MS";
  padding: 1em;
  border-radius: 10px;
}
.todo::before {
  color: #080;
  font-family: "Comic Sans MS";
  font-weight: bold;
  display: block;
  content: "TODO:";
  letter-spacing: 5px;
}