/* PrismJS 1.17.1
https://prismjs.com/download.html#themes=prism-tomorrow&languages=markup+css+clike+javascript+c+cpp+arduino&plugins=line-highlight+line-numbers+custom-class+file-highlight+unescaped-markup+normalize-whitespace+match-braces+filter-highlight-all */
/**
 * prism.js tomorrow night eighties for JavaScript, CoffeeScript, CSS and HTML
 * Based on https://github.com/chriskempson/tomorrow-theme
 * @author Rose Pritchard
 */

code[class*="language-"],
pre[class*="language-"] {
	color: #ccc;
	background: none;
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	font-size: 1em;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;

}

/* Code blocks */
pre[class*="language-"] {
	padding: 1em;
	margin: .5em 0;
	overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	background: #2d2d2d;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: .1em;
	border-radius: .3em;
	white-space: normal;
}

.p-token.comment,
.p-token.p-block-comment,
.p-token.p-prolog,
.p-token.p-doctype,
.p-token.p-cdata {
	color: #999;
}

.p-token.p-punctuation {
	color: #ccc;
}

.p-token.p-tag,
.p-token.p-attr-name,
.p-token.p-namespace,
.p-token.p-deleted {
	color: #e2777a;
}

.p-token.p-function-name {
	color: #6196cc;
}

.p-token.p-boolean,
.p-token.p-number,
.p-token.p-function {
	color: #f08d49;
}

.p-token.p-property,
.p-token.p-class-name,
.p-token.p-constant,
.p-token.p-symbol {
	color: #f8c555;
}

.p-token.p-selector,
.p-token.p-important,
.p-token.p-atrule,
.p-token.p-keyword,
.p-token.p-builtin {
	color: #cc99cd;
}

.p-token.p-string,
.p-token.p-char,
.p-token.p-attr-value,
.p-token.p-regex,
.p-token.p-variable {
	color: #7ec699;
}

.p-token.p-operator,
.p-token.p-entity,
.p-token.p-url {
	color: #67cdcc;
}

.p-token.p-important,
.p-token.p-bold {
	font-weight: bold;
}
.p-token.p-italic {
	font-style: italic;
}

.p-token.p-entity {
	cursor: help;
}

.p-token.p-inserted {
	color: green;
}

pre[data-line] {
	position: relative;
	padding: 1em 0 1em 3em;
}

.line-highlight {
	position: absolute;
	left: 0;
	right: 0;
	padding: inherit 0;
	margin-top: 1em; /* Same as .prism’s padding-top */

	background: rgba(255, 0, 255, 0.39);
	/* background: linear-gradient(to right, hsla(24, 20%, 50%,.1) 70%, hsla(24, 20%, 50%,0)); */

	pointer-events: none;

	line-height: inherit;
	white-space: pre;
}

	.line-highlight:before,
	.line-highlight[data-end]:after {
		content: attr(data-start);
		position: absolute;
		top: .4em;
		left: .6em;
		min-width: 1em;
		padding: 0 .5em;
		background-color: rgba(255, 0, 255, 1);
		color: #fff;
		font: bold 65%/1.5 sans-serif;
		text-align: center;
		vertical-align: .3em;
		border-radius: 999px;
		text-shadow: none;
	}

	.line-highlight[data-end]:after {
		content: attr(data-end);
		top: auto;
		bottom: .4em;
	}

.line-numbers .line-highlight:before,
.line-numbers .line-highlight:after {
	content: none;
}

pre[class*="language-"].line-numbers {
	position: relative;
	padding-left: 3.8em;
	counter-reset: linenumber;
}

pre[class*="language-"].line-numbers > code {
	position: relative;
	white-space: inherit;
}

.line-numbers .line-numbers-rows {
	position: absolute;
	pointer-events: none;
	top: 0;
	font-size: 100%;
	left: -3.8em;
	width: 3em; /* works for line-numbers below 1000 lines */
	letter-spacing: -1px;
	border-right: 1px solid #999;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

}

	.line-numbers-rows > span {
		pointer-events: none;
		display: block;
		counter-increment: linenumber;
	}

		.line-numbers-rows > span:before {
			content: counter(linenumber);
			color: #999;
			display: block;
			padding-right: 0.8em;
			text-align: right;
		}

/* Fallback, in case JS does not run, to ensure the code is at least visible */
[class*='lang-'] script[type='text/plain'],
[class*='language-'] script[type='text/plain'],
script[type='text/plain'][class*='lang-'],
script[type='text/plain'][class*='language-'] {
	display: block;
	font: 100% Consolas, Monaco, monospace;
	white-space: pre;
	overflow: auto;
}

.p-token.p-punctuation.brace-hover,
.p-token.p-punctuation.brace-selected {
	outline: solid 1px;
}

.rainbow-braces .p-token.p-punctuation.brace-level-1,
.rainbow-braces .p-token.p-punctuation.brace-level-5,
.rainbow-braces .p-token.p-punctuation.brace-level-9 {
	color: #E50;
	opacity: 1;
}
.rainbow-braces .p-token.p-punctuation.brace-level-2,
.rainbow-braces .p-token.p-punctuation.brace-level-6,
.rainbow-braces .p-token.p-punctuation.brace-level-10 {
	color: #0B3;
	opacity: 1;
}
.rainbow-braces .p-token.p-punctuation.brace-level-3,
.rainbow-braces .p-token.p-punctuation.brace-level-7,
.rainbow-braces .p-token.p-punctuation.brace-level-11 {
	color: #26F;
	opacity: 1;
}
.rainbow-braces .p-token.p-punctuation.brace-level-4,
.rainbow-braces .p-token.p-punctuation.brace-level-8,
.rainbow-braces .p-token.p-punctuation.brace-level-12 {
	color: #E0E;
	opacity: 1;
}

